{
  "presets": [
    ["@babel/preset-env",{"modules":"commonjs"}],
    ["@vue/app", {
      "polyfills": [
        "es6.promise",
        "es6.symbol"
      ]
    }]
  ],
  "plugins": [
    ["add-module-exports"],
    ["@babel/plugin-transform-runtime", { "regenerator": true }]
  ],
 "comments": false
}